<!doctype html>
<html lang="en" data-framework="backbonejs">
    <head>
        <meta charset="utf-8">
        <title>Skils</title>
        <link rel="stylesheet" href="dist/css/styles.css">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container skills">

            <!-- block for adding new skill -->
            <div class="row">
                <section class="col-sm-12 p-x-3 m-y-3 form-inline">

                    <p>
                        Type skill name and level then press Enter:
                    </p>
                    <div class="form-group">
                        <input type="text" class="form-control enter-skill-name" id="" placeholder="Enter skill name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control enter-skill-level" id="" placeholder="Enter skill's level">
                    </div>

                </section>
            </div>

            <!-- list of skills -->
            <div class="row">
                <div class="col-sm-12 p-x-3">
                    <section class="main invisible ">
                        <h5 class="text-primary">
                            List of added skills:
                        </h5>
                        <ul class="skills-list list-unstyled">
                            <li class="">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <small class="text-muted">
                                            Skill Name
                                        </small>
                                    </div>
                                    <div class="col-sm-3">
                                        <small class="text-muted">
                                            Skill Level
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                        <footer class="row">
                            <section class="col-sm-2 p-x-3 m-b-2">
                                <button type="submit" class="btn btn-danger clear-skills ">Remove all skills</button>
                            </section>
                            <section class="col-sm-3 p-x-3 m-b-2">
                                <button type="submit" class="btn btn-primary  show-graph ">Show graph of level skill</button>
                            </section>
                        </footer>
                    </section>
                </div>
            </div>


        </div>

        <!-- one skill template -->
        <script type="text/template" id="skill-item-template">
            <div class="row">
                <div class="col-sm-4 info-block">
                    <label><%- skillName %></label>
                    <input class="edit" data-name="skillName" value="<%- skillName %>">
                </div>
                <div class="col-sm-3 info-block">
                    <label><%- skillLevel %></label>
                    <input class="edit" data-name="skillLevel" value="<%- skillLevel %>">
                </div>
            </div>
        </script>

        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/underscore/underscore.js"></script>
        <script src="node_modules/backbone/backbone.js"></script>
        <script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="dist/js/skillModel.js"></script>
        <script src="dist/js/skillsListCollection.js"></script>
        <script src="dist/js/appView.js"></script>
        <script src="dist/js/skillView.js"></script>
        <script src="dist/js/routers.js"></script>
        <script src="dist/js/app.js"></script>
    </body>
</html>